body{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: auto;
    margin:0;
    justify-content:space-around;
    justify-items: center;
    justify-self: center;
    height: 100vh;
    width: 100vw;
}
h1{
    font-size: 10vh;
}
form{
    height: 30vh;
    align-self: center;
    justify-content: center;
    width: 80vw;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
section{
    width: 20vw;
    font-size: 1vw;
}
.checkbox{
    width: 5vw;
    height: 2vw;
    margin: 0;
}
#inclinacionAlert{
    color: yellow;
}
